---
import BlogPostEntry from "../components/common/BlogPostEntry.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

let posts = await getCollection("blog");
posts = posts.reverse();
---

<Layout title="Nate St George - Blog">
    <h1 class="mb-5">Blog</h1>
    <ul id="posts">
        {
            posts.map((post) => {
                return <BlogPostEntry post={post} />;
            })
        }
    </ul>
</Layout>
