---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nate St George - Code">
  <h1 class="mb-5">Code</h1>
  <div>
    <p>
      Because of my love for design, I am primarily a frontend developer,
      although I often dip into the backend for certain projects. I am most
      comfortable with React, but I also develop with Web Components and have
      recently been working in vanilla JavaScript. I also often end up being a
      team resource on CSS - you'd be surprised how little JavaScript you need
      to write!
    </p>
    <p>
      Below, you can find a few of my projects. Most of my recent work is not
      publicly accessible due to the nature of the work I've had.
    </p>
    <p>
      I also recommend checking out <a href="/blog">my blog</a> for more general
      write-ups!
    </p>
  </div>
</Layout>
