---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Nate St George - Photography">
    <h1>Photography</h1>
    <Image
        src="//images.pixieset.com/45252288/4b49672a37638bc68937d3accf453758-xxlarge.jpg"
        alt="Test photo"
        width="800"
        height="1200"
    />
</Layout>
