<script>
    import { animate } from "motion";

    let angle = 0;

    document.addEventListener("astro:page-load", () => {
        let pressTimeout;
        let ignoreNextClickEvent = false;

        // Basic setup

        if (localStorage.getItem("theme")) {
            const options = document.querySelectorAll(".selector-option");
            options.forEach((opt) => {
                opt.classList.add("bg-stone-500/20");
            });
        }

        if (
            (!window.matchMedia("(prefers-color-scheme: dark)").matches &&
                !localStorage.getItem("theme")) ||
            localStorage.getItem("theme") === "light"
        ) {
            angle += 180;
            animate(
                document.getElementById("theme-selector"),
                {
                    rotate: angle,
                },
                {
                    duration: 0,
                },
            );
        } else {
            document.documentElement.classList.add("dark");
            window.dispatchEvent(new CustomEvent("themeUpdate"));
        }

        // Event handlers

        document
            .getElementById("theme-selector")
            .addEventListener("click", (e) => {
                if (!ignoreNextClickEvent) {
                    angle += 180;

                    const options =
                        document.querySelectorAll(".selector-option");
                    options.forEach((opt) => {
                        opt.classList.add("bg-stone-500/20");
                    });

                    animate(
                        document.getElementById("theme-selector"),
                        {
                            rotate: angle,
                        },
                        {
                            duration: 0.6,
                            type: "spring",
                        },
                    );

                    document.documentElement.classList.toggle("dark");

                    if (localStorage.getItem("theme")) {
                        localStorage.setItem(
                            "theme",
                            localStorage.getItem("theme") === "light"
                                ? "dark"
                                : "light",
                        );
                    } else {
                        localStorage.setItem(
                            "theme",
                            angle % 360 === 0 ? "dark" : "light",
                        );
                    }

                    window.dispatchEvent(new CustomEvent("themeUpdate"));
                } else {
                    ignoreNextClickEvent = false;
                }
            });

        const handleBeginPress = (e) => {
            pressTimeout = setTimeout(() => {
                if (localStorage.getItem("theme")) {
                    localStorage.removeItem("theme");
                    ignoreNextClickEvent = true;
                    if (
                        (window.matchMedia("(prefers-color-scheme: dark)")
                            .matches &&
                            angle % 360 !== 0) ||
                        (!window.matchMedia("(prefers-color-scheme: dark)")
                            .matches &&
                            angle % 360 === 0)
                    ) {
                        angle += 180;
                        animate(
                            document.getElementById("theme-selector"),
                            {
                                rotate: angle,
                            },
                            {
                                duration: 0.6,
                                type: "spring",
                            },
                        );
                        document.documentElement.classList.toggle("dark");
                        window.dispatchEvent(new CustomEvent("themeUpdate"));
                    }

                    const options =
                        document.querySelectorAll(".selector-option");
                    options.forEach((opt) => {
                        opt.classList.remove("bg-stone-500/20");
                    });

                    navigator.vibrate && navigator.vibrate(50);

                    document
                        .getElementById("selector-ping")
                        .classList.remove("hidden");
                    setTimeout(() => {
                        document
                            .getElementById("selector-ping")
                            .classList.add("hidden");
                    }, 800);
                }
            }, 1000);
        };

        const handleEndPress = (e) => {
            clearTimeout(pressTimeout);
        };

        document
            .getElementById("theme-selector")
            .addEventListener("mousedown", handleBeginPress);

        document
            .getElementById("theme-selector")
            .addEventListener("touchstart", handleBeginPress);

        window.addEventListener("mouseup", handleEndPress);
        window.addEventListener("touchend", handleEndPress);
        window
            .matchMedia("(prefers-color-scheme: dark)")
            .addEventListener("change", (e) => {
                if (
                    ((window.matchMedia("(prefers-color-scheme: dark)")
                        .matches &&
                        angle % 360 !== 0) ||
                        (!window.matchMedia("(prefers-color-scheme: dark)")
                            .matches &&
                            angle % 360 === 0)) &&
                    !localStorage.getItem("theme")
                ) {
                    angle += 180;
                    animate(
                        document.getElementById("theme-selector"),
                        {
                            rotate: angle,
                        },
                        {
                            duration: 0.6,
                            type: "spring",
                        },
                    );
                    document.documentElement.classList.toggle("dark");
                    window.dispatchEvent(new CustomEvent("themeUpdate"));
                }
            });
    });
</script>
<div
    id="selector-ping"
    class="rounded-full dark:bg-stone-600 bg-stone-400 fixed top-2 right-[0.4rem] w-12 h-12 z-50 animate-ping hidden transition-opacity duration-300 pointer-events-none"
>
</div>
<div
    id="theme-selector"
    class="grid grid-cols-2 grid-rows-2 fixed -top-14 -right-14 sm:-top-12 sm:-right-12 gap-6 z-50 cursor-pointer hover:opacity-70 select-none transition-opacity"
>
    <button
        id="light-mode"
        title="Switch to dark mode. Long press to return to system default."
        class="selector-option col-start-2 rotate-180 scale-80 text-stone-500 cursor-pointer rounded-full p-2"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
        >
            <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
            >
                <circle cx="12" cy="12" r="4"></circle>
                <path
                    d="M12 2v2m0 16v2M4.93 4.93l1.41 1.41m11.32 11.32l1.41 1.41M2 12h2m16 0h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41"
                >
                </path>
            </g>
        </svg>
    </button>
    <button
        id="dark-mode"
        title="Switch to light mode. Long press to return to system default."
        class="selector-option row-start-2 scale-80 text-stone-500 cursor-pointer rounded-full p-2"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
        >
            <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 3a6 6 0 0 0 9 9a9 9 0 1 1-9-9"
            >
            </path>
        </svg>
    </button>
</div>
