---
interface Props {
    fullwidth?: boolean;
}

const { fullwidth } = Astro.props;
---

<div
    id="content"
    class=`${fullwidth ? "w-full" : "container lg:max-w-[50em]"} mx-auto px-5 top-0 mt-28 font-serif`
>
    <slot />
</div>
